body {
	background-image: url(../imgs/bg.png);
	height: 100vh;
	background-position: center;
	background-size: cover;
	margin: 0 5%;
}


nav {

	display: flex;
	flex-direction: row;
	height: 20vh;
}

.nav-menu-icon {

	display: none;
}

.nav-items {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}

.nav-link {
	color: aliceblue;
	text-decoration: none;
	font-size: 20px;
}


.brand-logo {
	height: 100px;
	margin-top: 30px;
}

.nav-button {

	background-color: transparent;
	border-color: #8D3DAF;
	padding: 5px 40px;
	border: 0px;
	border-radius: 20px;
	cursor: pointer;
}

.nav-button:hover {
	box-shadow: 0px 0px 100px #8D3DAF inset;
	transition: 300ms ease-in-out;
}


.container {

	display: flex;
	flex-direction: row;
}

.col-1 {
	margin-top: 90px;
	color: aliceblue;

	flex: 1;
}

.col-1 p {
	font-size: 25px;
}

.col-1 h1 {
	font-size: 70px;
}


.col-2 {
	flex: 1;
}

.google-play-logo {
	width: 40%;
}

.phone-img {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 80%;
}


@media only screen and (max-width: 1157px) {
	.phone-img {
		height: 70%;
	}
}


@media only screen and (max-width: 870px) {
	.phone-img {
		display: none;
	}

	.nav-items {
		display: none;
	}

	.nav-menu-icon {
		display: flex;
		font-size: 40px;
		color: aliceblue;
		position: absolute;
		right: 0px;
		margin-right: 70px;
		margin-top: 60px;
	}
}