.bg{
    background-color: aqua;
    padding: 10px 10px;
    height: 10px;
}

.container{
    border: 2px solid black;
    text-align: center;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.container div:nth-child(3){
    order: -1;
}